@import url(https://allfont.net/allfont.css?fonts=liberation-serif);

*{
    font-family: 'Liberation Serif', arial;
}

p, ul{
    font-family: 'Times New Roman', Times, serif;
    font-size: 12px;

}
